<div class="next-player text-center mb-12 mt-12 text-4xl">
  Your turn, <span class="font-bold">{{ game | getCurrentPlayerName}}!</span>
</div>

<div class="flex gap-x-12">
  <div class="grow-0 big-pit-container">
    <app-pit
      [pit]="playerOne.bigPit"
      [index]="-1"
      [isCurrentPlayer]="game.currentPlayer === playerOne.id"
    ></app-pit>
  </div>
  <div class="grow grid grid-rows-2 gap-6">
    <div class="grid grid-cols-6 gap-6">
      <ng-container *ngFor="let pitWithIndex of (playerOne.pits | getPitsWithIndex : 'reverse')">
        <app-pit
          [pit]="pitWithIndex.pit"
          [index]="pitWithIndex.index"
          [isCurrentPlayer]="game.currentPlayer === playerOne.id"
          (onPitClicked)="makeMove($event)"
        ></app-pit>
      </ng-container>
    </div>
    <div class="grid grid-cols-6 gap-6">
      <ng-container *ngFor="let pitWithIndex of playerTwo.pits | getPitsWithIndex">
        <app-pit
          [pit]="pitWithIndex.pit"
          [index]="pitWithIndex.index"
          [isCurrentPlayer]="game.currentPlayer === playerTwo.id"
          (onPitClicked)="makeMove($event)"
        ></app-pit>
      </ng-container>
    </div>
  </div>
  <div class="grow-0 big-pit-container">
    <app-pit
      [pit]="playerTwo.bigPit"
      [index]="-1"
      [isCurrentPlayer]="game.currentPlayer === playerTwo.id"
    ></app-pit>
  </div>
</div>
